.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
logs/gov.usds.log
src/main/java/Freddie.java
target/classes/application.properties
target/classes/Freddie.class
target/classes/gov/usds/app/ConfigBean.class
target/classes/gov/usds/app/WebApplication.class
target/classes/gov/usds/controller/UsdsController.class
target/classes/gov/usds/service/UsdsService.class
target/classes/log4j2.xml
target/classes/logback-spring.xml
target/classes/static/usds/css/bootstrap.css
target/classes/static/usds/css/usds.css
target/classes/static/usds/favicon.ico
target/classes/static/usds/index.html
target/classes/static/usds/scripts/bootstrap.js
target/classes/static/usds/scripts/jquery.min.js
target/classes/static/usds/scripts/usds.js
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/gov.usds.controller.UsdsControllerTest.txt
target/surefire-reports/gov.usds.service.UsdsServiceTest.txt
target/surefire-reports/TEST-gov.usds.controller.UsdsControllerTest.xml
target/surefire-reports/TEST-gov.usds.service.UsdsServiceTest.xml
target/test-classes/application.properties
target/test-classes/gov/usds/controller/UsdsControllerTest.class
target/test-classes/gov/usds/service/UsdsServiceTest.class
target/usds.jar
target/usds.jar.original
